{% load static %}
<!--
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

<h3> Hello World!!!!!!!!!!!!!!!!!</h3>

<img src="{% static 'images/trial_photo.jpg' %}">
-->

<DOCTYPE html>
    <html>
        <head>
            <title>Deependra Chaddha</title>
            <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            {% load static %}
        </head>
        <body>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-13">
                        <div class="card card-body", id="profile-wrapper">
                            <img id="profile-pic" src="{% static 'images/trial_photo.jpg' %}" class="img-fluid" alt="Responsive image">
                            <hr>
                            <h4>Deependra Chaddha</h4>
                            <p>I am a passionate learner. I have a strong interest in math, science and programming. I am always looking for new challenges and opportunities to grow my skills and knowledge. I am also a lifelong learner and enjoy learning new things. I am excited to contribute to the tech community and help make the world a better place.</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card card-body"></div>
                        <p> Some other random things about me</p>
                        <p> Some more random things about me</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="card card-body"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="card card-body"></div>
                    </div>
                </div>
            </div>


</body>
</DOCTYPE>